<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="JBoss Forge"
            id="org.jboss.forge.ui">
      </category>
      <wizard
            category="org.jboss.forge.ui"
            class="org.jboss.forge.uiview.wizards.SampleNewWizard"
            descriptionImage="icons/forge.png"
            hasPages="true"
            id="org.jboss.forge.uiview.wizards.SampleNewWizard"
            name="Sample">
      </wizard>
      <wizard
            category="org.jboss.forge.ui"
            class="org.jboss.forge.ui.eclipse.wizard.ForgeWizard"
            hasPages="true"
            icon="icons/forge.ico"
            id="org.jboss.forge.ui.eclipse.wizard.ForgeWizard"
            name="Run an Addon">
      </wizard>
   </extension>

</plugin>
